@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Figtree', sans-serif;
  --font-sans-secondary: 'Plus Jakarta Sans', sans-serif;
  --color-dark-grey: #606060;
  --color-light-grey: #c2c2c2;
  --color-dark-green: #022c22;
  --color-dark-footer: #1a1b1e;
}

:root {
  --background: #ffffff;
  --foreground: #1d1f1e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
